#!/bin/sh -eu

REPO='https://raw.githubusercontent.com/junegunn/vim-plug/master'

SOURCEDIR={{ .chezmoi.sourceDir | quote }} 
RESOURCES="${SOURCEDIR%/?*}/resources"  

. "$SOURCEDIR/private_dot_local/lib/utils.sh"

mkcd "$XDG_DATA_HOME/vim"

echo 'Installing vim-plug...'
mkdir -p autoload doc
curl_or_wget -v "$REPO/plug.vim" autoload/plug.vim
curl_or_wget -v "$REPO/doc/plug.txt" doc/plug.txt

if confirm "Install plugins?"; then
    echo 'Installing Vim plugins...'
    NOVIMRC=1 vim \
        -S "$RESOURCES/vim/syntaxrange.vmb" \
        -c 'let g:plug_install_only = 1' \
        -c 'source $MYVIMRC' \
        +qall
fi

# vi:set ft=sh :
