#!/bin/sh -eu

REPO='https://raw.githubusercontent.com/junegunn/vim-plug/master'

SOURCEDIR={{ .chezmoi.sourceDir | quote }} 
RESOURCES="${SOURCEDIR%/?*}/resources"  

. "$SOURCEDIR/private_dot_local/lib/utils.sh"

mkcd "$XDG_DATA_HOME/vim"

if [ ! -e autoload/plug.vim ]; then
    echo 'Installing vim-plug...'
    mkdir -p autoload doc
    curl_or_wget -v "$REPO/plug.vim" autoload/plug.vim
    curl_or_wget -v "$REPO/doc/plug.txt" doc/plug.txt
fi

if confirm "Install plugins?"; then
    vim -u NONE \
        -c 'packadd vimball' \
        -S "$RESOURCES/vim/syntaxrange.vmb" \
        +PlugUpdate \
        +qall
fi

#vi:set ft=sh :
